[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
jinja2 = "*"
app = {editable = true,path = "."}
pytest = "*"
coverage = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
